<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - FileStore</title>
    <link href="/styles/output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <%- include("partials/navbar", locals.currentUser) %>
    <div>
      <div class="mx-auto max-w-[90rem] py-5 px-4 flex-col">
        <header class="page-title">
          <h1 class="text-4xl font-bold pb-4">My Files</h1>
        </header>

        <dialog class="upload-file-dialog mx-auto">
          <form
            method="post"
            action="/drive/<%= locals.folderId ? 'folder/' + locals.folderId : 'my-drive' %>/upload"
            enctype="multipart/form-data"
            class="flex flex-col items-center"
          >
            <h2>Upload File</h2>
            <input type="file" name="uploaded_file" />
            <div class="flex">
              <button type="button" class="close-button">Close</button>
              <button type="submit">Submit</button>
            </div>
          </form>
        </dialog>

        <dialog class="create-folder-dialog mx-auto">
          <form
            method="post"
            action="/drive/<%= locals.folderId ? 'folder/' + locals.folderId : 'my-drive' %>/create"
          >
            <h2>Upload File</h2>
            <input type="text" name="name" />
            <div class="flex">
              <button type="button" class="close-button">Close</button>
              <button type="submit">Create</button>
            </div>
          </form>
        </dialog>

        <main>
          <div class="flex items-center border-b border-b-gray-300">
            <button
              class="upload-file-button flex justify-center items-center p-2 border-r border-gray-300 cursor-pointer"
            >
              <img src="/icons/file-upload-outline.svg" class="size-6" />
            </button>

            <button
              class="create-folder-button flex justify-center items-center p-2 border-r border-gray-300 cursor-pointer"
            >
              <img src="/icons/folder-outline.svg" class="size-6" />
            </button>

            <button
              class="flex items-center p-2 border-r border-gray-300 cursor-pointer"
            >
              <img src="/icons/link.svg" class="size-6" />
            </button>
            
            <nav aria-label="Breadcrumb" class="ml-1 py-2 px-2 text-lg">
              <ol class="flex list-none items-center">
                <% if (locals.links) {%> 
                  <% locals.links.forEach((link, index) => { %> 
                    <% if (index < locals.links.length - 1) { %>
                      <li
                        class="font-medium text-gray-600 after:inline-block after:mx-2 after:content-['>']"
                      >
                        <a href="<%= link.url%>"><%= link.name%></a>
                      </li>
                    <% } else { %>
                      <li class="font-medium"><%= link.name%></li>
                    <% }})} %>
              </ol>
            </nav>
          </div>

          <table
            class="w-full border-collapse border-0 border-solid border-black bg-white"
          >
            <colgroup>
              <col class="w-auto"/>
              <col class="w-[100px]" />
              <col class="w-[200px]" />
              <col class="w-12" />
            </colgroup>

            <thead>
              <tr class="border-b border-b-gray-200 border-solid text-lg">
                <th class="p-2 pl-5 text-left">Name</th>
                <th class="p-2 text-left">Size</th>
                <th class="p-2 text-left">Date</th>
              </tr>
            </thead>

            <tbody>
              <% if (locals.files) { locals.files.forEach(file => { %>
              <tr 
                class="transition-colors duration-100 hover:bg-gray-200" 
                data-id="<%= file.id %>"
                data-type="<%= file.isFolder ? 'folder' : 'file' %>"
              >
                <td class="flex items-center p-3 pl-5">
                  <% if (file.isFolder) {%>
                  <img
                    src="/icons/folder-outline.svg"
                    alt="folder"
                    class="inline size-6 mr-2"
                  />
                  <a
                    href="/drive/folder/<%= file.id%>"
                    class="font-semibold"
                    ><%= file.filename %></a
                  >
                  <% } else { %>
                  <img
                    src="/icons/file-outline.svg"
                    alt="folder"
                    class="inline size-6 mr-2"
                  />
                  <%= file.filename %> <% } %>
                </td>
                <td class="p-3"><%= file.size%></td>
                <td class="p-3"><%= file.created_at%></td>
                <td class="p-3 flex items-center justify-center">
                  <button class="file-dropdown-button w-full cursor-pointer relative inline-block">
                    <img src="/icons/dots-vertical.svg" alt="">
                  </button>
                </td>
              </tr>
              <% })} %>
            </tbody>
          </table>

          <div class="dropdown absolute bg-white min-w-40 z-10 shadow-sm/30 hidden">
            <button class="text-black cursor-pointer block w-full py-3 px-4 text-center download-button hover:bg-gray-300">
              Download
            </button>
            <button class="text-black cursor-pointer block w-full py-3 px-4 text-center delete-button hover:bg-gray-300">
              Delete
            </button>
          </div>
        </main>
      </div>
    </div>

    <script src="/js/DOMcontroller.js"></script>
  </body>
</html>
